.btn {
  background-color: orangered;
}

.bullets {
  background-color: orangered;
}

footer {
  background-color: rgb(55, 58, 58);
}

aside {
  background-color: orangered;
}
#white {
  color: white;
}
